@font-face {
  font-family: 'Perfect DOS VGA 437';
  src: url('/fonts/Perfect%20DOS%20VGA%20437.ttf') format('truetype'),
       url('/fonts/Perfect-DOS-VGA-437.ttf') format('truetype'),
       url('/fonts/Perfect DOS VGA 437.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
